<% model_class = Result %>

<div class="alert alert-success" style="display:none;" id='alertOk'></div>
<div class="alert alert-error" style="display:none;" id='alertError'></div>

<div class="page-header">
  <h2>Palpita Aí Manolo!</h2>
</div>

<table class="table table-striped">
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <%= form_for result, :remote => true do |f| %>
          <%= f.hidden_field :match_id, :value => result.match_id %>
          <%= f.hidden_field :user_id, :value => result.user_id %>
          <td class='span3'><%= l result.match.date, :format => :short %></td>
          <!--<td><%= result.match.locale %></td>-->
          <td class='span2'><%= image_tag(result.match.team1.flag, :class => 'img-rounded') %></td>
          <td class='span2'><%= result.match.team1.name %><br>
          <td class='span2'><%= f.text_field :result1,
                                             disabled: (true if result.match.date < DateTime.now), 
                                             :class => 'input-mini match', 
                                             :title => "Digite aqui seu palpite!" %></td>
          <td class='span2'><i class="icon-asterisk"></i></td>
          <td class='span2'><%= f.text_field :result2,
                                             disabled: (true if result.match.date < DateTime.now), 
                                             :class => 'input-mini match', 
                                             :title => "Digite aqui seu palpite!" %></td>
          <td class='span2'><%= result.match.team2.name %><br>
          <td class='span2'><%= image_tag(result.match.team2.flag, :class => 'img-rounded') %></td>
          
          <td class='span2'><%= f.submit "Palpitar",
                                disabled: (true if result.match.date < DateTime.now), 
                                :class => 'btn btn-primary' %></td>
         
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  
  $(document).ready(function() {
    $('.edit_result').bind('ajax:success', function(evt, data, status, xhr) {  
      //alert(data.message + ' ' + data.result + ' ' + data.result_id);
      //$.find('.alert alert-success').html("errorText");
      if(data.result == 'ok'){
        $('#alertOk').html(data.message + ' ' + data.result + ' ' + data.result_id);
        $('#alertOk').fadeIn().delay(3000).fadeOut();
        $('#alertError').fadeOut();
      }
      else{
        $('#alertError').html(data.message + ' ' + data.result + ' ' + data.result_id);
        $('#alertError').fadeIn().delay(3000).fadeOut();
        $('#alertOk').fadeOut();
      }
    }); 
  });  
</script>
