<% model_class = Result %>

<div class="alert alert-success" style="display:none;" id='alertOk'></div>
<div class="alert alert-error" style="display:none;" id='alertError'></div>

<div class="page-header">
  <h2>Palpita aí Manolo!</h2>
</div>

<table class="table table-striped">
  <tbody>
    <% @results.each do |result| %> 
    
      <% @post = Post.post_of_match(result.match) %>

      <% unless @post.nil? %>
        <h4>#FicaDica: </h4>    
        <blockquote style='width: 50%;'>
          
          <p><%= @post.content %></p>
          <small>Dicas e comentários do Boleiro Master <cite title="Source Title"><%= @post.user.full_name %></cite></small>
        </blockquote>
      <% end %>
    
      <tr>
        <%= form_for result, :remote => true do |f| %>
          <%= f.hidden_field :match_id, :value => result.match_id %>
          <%= f.hidden_field :user_id, :value => result.user_id %>
          <td class='span3'><%= l result.match.date, :format => :short %></td>
          <!--<td><%= result.match.locale %></td>-->
          <td class='span2'><%= image_tag(result.match.team1.flag, :class => 'img-rounded') %></td>
          <td class='span2'><%= result.match.team1.name %><br>
          <td class='span2'><%= f.text_field :result1,
                                             disabled: (true if result.match.date < Time.zone.now), 
                                             :class => 'input-mini match', 
                                             :title => "Digite aqui seu palpite!" %></td>
                                             
          <td class='span2'><%= image_tag("vs.png", :style => 'height:60px; width:60px;', 
                                          #:size => "60x60", 
                                          :class => 'img-rounded') %></td>
          
          <td class='span2'><%= f.text_field :result2,
                                             disabled: (true if result.match.date < Time.zone.now), 
                                             :class => 'input-mini match', 
                                             :title => "Digite aqui seu palpite!" %></td>
          <td class='span2'><%= result.match.team2.name %><br>
          <td class='span2'><%= image_tag(result.match.team2.flag, :class => 'img-rounded') %></td>
          
          <td class='span2'><%= f.submit "Palpitar",
                                disabled: (true if result.match.date < Time.zone.now), 
                                :class => 'btn btn-large btn-primary' %></td>
          
                                                   
                      
          <!-- Button to trigger modal -->
          <!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
          
        <% end %>
        <span class='span2'><%= button_to "Chutes da Galera", 
                                       { :action => 'statistics', 
                                         :match => result.match_id },
                                       :id => "btn_statistics",
                                       :remote => true,
                                       :class => 'btn btn-success' %></span>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @post.nil? %>
  <h4>#Corneteiros:</h4>
  <div>
    <dl class="dl-horizontal">
    <% comments = Comment.comments_of_post(@post) %>
    <% comments.each do |comment| %>
      <dt><%= comment.user.full_name %></dt>
      <dd><%= comment.content %></dd>
    <% end %>
    </dl>
  </div>
<% end %>


<div id="chart_div" style="width: 900px; height: 500px;"></div> 

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Total de palpites até o momento: <%= @count_results %></h3>
  </div>
  <div class="modal-body">
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  
  $(document).ready(function() {
  
   //google.load("visualization", "1", {packages:["corechart"]});
      
  
/*  
    $('[data-toggle="modal"]').click(function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      //var modal_id = $(this).attr('data-target');
      $.get(url, function(data) {
          $(data).modal();
      });
    });
  */
    $('.button_to').bind('ajax:success', function(evt, data, status, xhr) {
     
	    $('#myModal').modal({show:true});
	    
	    //alert(data.content);
	    
	    
      function drawChart() {
        var data = google.visualization.arrayToDataTable([['Seleção', 'Palpites'], data.content]);
       
        var options = {
          title: 'Chutes da galera:'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      //
      
      //$('#myModal').modal();
      
      //alert(data.content);
      
      /*
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([['Seleção', 'Palpites'], data.content]);
       
        var options = {
          title: 'Chutes da galera:'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      */

    });
    
    $("#myModal").on("show", function() {    // wire up the OK button to dismiss the modal when shown
        //alert('ok');
        
       
    });
  
  
    $('.edit_result').bind('ajax:success', function(evt, data, status, xhr) {  
      //alert(data.message + ' ' + data.result + ' ' + data.result_id);
      //$.find('.alert alert-success').html("errorText");
      if(data.result == 'ok'){
        $('#alertOk').html(data.message);
        $('#alertOk').fadeIn().delay(3000).fadeOut();
        $('#alertError').fadeOut();
      }
      else{
        $('#alertError').html(data.message);
        $('#alertError').fadeIn().delay(3000).fadeOut();
        $('#alertOk').fadeOut();
      }
    }); 
  });  
</script>
