<%= link_to "Bolão da Confe", "#", :class => 'brand' %>

<% unless Match.match_in_progress.nil? %> 
<%=  link_to 'Siga aqui a pelota rolando!', match_progress_path, :class => 'brand' %>
<% end %>

<ul class="nav">
  <li><%= link_to 'Jogos', matches_path %></li>
  <li><%= link_to 'Quero Palpitar', results_path %></li>
  <li><%= link_to 'Ranking Geral', general_ranking_index_path %></li>
  <!--<li><%= link_to 'Estatísticas', statistics_results_path %>-->
  <li><%= link_to 'Sair', user_sessions_path, :method => :delete %></li>
</ul>
